h1{
    margin : 30px;
}
.in{
    background-color: #e9ecef;
}
.out{
    background-color: #f8f9fa;

}
.section{
    padding: 2rem 2rem 5rem 2rem ;
    text-align: center;
}
.center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#NavigationBar{
    width: 100%;
    background-color: #ced4da;
}



.Rtable{
    margin: auto;
    margin-top: 85px;
    margin-bottom: 85px;
    border-spacing: 0px;
    background-color: #343a40;
    border-radius: 15px;
    box-shadow: #e9ecef 0 -5px 10px;
}
.imageInRLTable{
    padding: 1rem;
    width: 40ch;
    background-color: #ced4da;
    /* border-radius: 10px 0 0 10px; */
    transition: transform 0.25s;
}
.imageInRLTable:hover{
    transform: translateY(-10px);
}
.infoInRLTable{
    width: 40ch;
    padding: 2rem;
    text-align: left;
    background-color: #e9ecef;
    /* border-radius: 0 10px 10px 0; */
    transition: transform 0.25s;
}
.infoInRLTable:hover{
    transform: translateY(-10px);
}
.profilePic{
    position: relative;
    height: 100%;
    width: 100%;
    border: solid #004740;
    border-radius: 100%;
}
.row-about{
    margin: 1rem;
    justify-content: center;
    align-content: center;
}









#Path{
    position: relative;
    padding: 3rem 2rem;
}
#pathImage{
    width: 80%;
    position: relative;
    margin: auto;

}
#pathImage_mobile{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 500px;
}
.flexbox-container{
    position: relative;
}











#skillTable{
    margin: auto;
}
.cardCell{
    position: relative;
    padding: 10px;
    transition: transform 0.25s;

}
.cardCell:hover{
    transform: translateY(-10px);
}
.cardWithBg{
    position: relative;
    background-color: white;
    transition: transform 0.25s;
    border-radius: 10px;
    box-shadow: #e9ecef 0 -5px 10px;
}
.cardWithBg:hover{
    transform: translateY(-10px);
}
.elements{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.skillImage{
    position: relative;
    height: 20%;
}






.projectCard{
    box-shadow: #adb5bd 0 -5px 10px;
}
.projectCardInfo{
    text-align: left;
    padding: 25px;
}
.projectImage{
    width: 100%;
    height: 100%;
    margin: 0;
}
.img-project{
    align-items: flex-end;
}
.row-project{
    margin: 1rem;
    justify-content: center;
    align-content: center;
}
.image-project{
    padding: 0;
    width: 40ch;
    /* border-radius: 10px 0 0 10px; */
    transition: transform 0.25s;
}
.info-project{
    width: 50%;
    min-width: 40ch;

    padding: 2rem;
    text-align: left;
    background-color: white;
    /* border-radius: 0 10px 10px 0; */
    transition: transform 0.25s;
}




#contactMeBtn{
    margin: 1rem auto 3rem auto;
    background-color: #6c757d;
    padding: 2rem 4rem;
    font-size: 1.75rem;
    color: #e9ecef;
}
#contactMeBtn:hover{
    background-color: #343a40;
}




